[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scikit-learn = "*"
xgboost = "*"
nltk = "*"
pandas = "*"
numpy = "*"
dvc = "*"
pyyaml = "*"
jupyter = "*"
ipykernel = "*"

[dev-packages]

[requires]
python_version = "3.9"
